.card {
  background-color: #fff;
  min-width: 200px;
  flex-shrink: 0;
}
.poster {
  width: 100px;
  height: 150px;
  object-fit: cover;
}
.content {
  padding: 12px;
}
.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}
.overview {
  font-size: 14px;
  color: #777;
}
